@page
@model LeasingRazor.Pages.DataAvalist.CreateDataKontrakKreditAngsuranDemoModel
@{
       Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateDataKontrakKreditDemo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.NoUrutDataKontrakKredit" class="control-label"></label>

                        <input asp-for="DataKonstrakKreditAngsuranDemo.NoUrutDataKontrakKredit" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.NoUrutDataKontrakKredit" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.AngsuranDimuka" class="control-label"></label>

                        <select asp-items="@ViewBag.AngsuranDimuka1" id="AngsuranDimk1a" asp-for="DataKonstrakKreditAngsuranDemo.AngsuranDimuka" class="form-control">
                            <option>Silahkan Pilih Data</option>
                        </select>
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.AngsuranDimuka" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.PolaAngsuran" class="control-label"></label>


                        <select asp-items="@ViewBag.PolaAngsuran1" id="PolaAngsuran1a" asp-for="DataKonstrakKreditAngsuranDemo.PolaAngsuran" class="form-control">
                            <option>Silahkan Pilih Data</option>
                        </select>
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.PolaAngsuran" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.HargaBarang" class="control-label"></label>

                        <input value="0" id="HargaOtr1" asp-for="DataKonstrakKreditAngsuranDemo.HargaBarang" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.HargaBarang" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.UangMuka" class="control-label"></label>
                        <input id="Um1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.UangMuka" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.UangMuka" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.Asuransi" class="control-label"></label>

                        <input id="asuransi1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.Asuransi" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.Asuransi" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.Administrasi" class="control-label"></label>

                        <input id="adm1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.Administrasi" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.Administrasi" class="text-danger"></span>

                    </div>
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.LamaKredit" class="control-label"></label>

                        <input value="0" id="Tenor1" asp-for="DataKonstrakKreditAngsuranDemo.LamaKredit" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.LamaKredit" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.BungaEff" class="control-label"></label>

                        <input id="BEfektif1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.BungaEff" class="form-control" />
                        @*<span asp-validation-for="BungaEff" class="text-danger"></span>*@

                    </div>
                </div>


            </div>
            <div class="form-group">

                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.BungaFlat" class="control-label"></label>

                        <input readonly id="BFlat1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.BungaFlat" class="form-control" />


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.TanggalJatuhTempoBulanan" class="control-label"></label>

                        <input value="5" id="tglAngsuranBlnan1" asp-for="DataKonstrakKreditAngsuranDemo.TanggalJatuhTempoBulanan" class="form-control" />
                        <span asp-validation-for="DataKonstrakKreditAngsuranDemo.TanggalJatuhTempoBulanan" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.NilaiBunga" class="control-label"></label>

                        <input readonly id="NilaiBunga1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.NilaiBunga" class="form-control" />


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.NilaiKontrak" class="control-label"></label>

                        <input readonly id="NilaiKontrak1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.NilaiKontrak" class="form-control" />


                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="DataKonstrakKreditAngsuranDemo.AngsuranBulanan" class="control-label"></label>

                        <input readonly id="AngsuranBln1" value="0" asp-for="DataKonstrakKreditAngsuranDemo.AngsuranBulanan" class="form-control" />


                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Pokok Hutang</label>

                        <input readonly id="PokokHutang1a" value="0" class="form-control" />

                    </div>
                </div>
                @*<div class="col-md-5">
                        <div class="form-group">
                            <label  class="control-label"></label>

                            <input readonly value="0"  class="form-control" />

                        </div>
                    </div>*@
            </div>
            <div class="form-group">
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">

                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

